html, body {
  max-width: 100%;
  margin: 0;
}

.app-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

@media (max-width: 768px) {
  html, body {
    width: 50%;
  }
}

/* * {
  outline: 1px solid red !important;
} */