.home {
    width: 100%;
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.medicamentos {
    background-image: url('../../assets/Images/medicamentos.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    top: 0%;
    width: 100%;
    height: 75%;
}

/* Media Queries para hacer el diseño responsivo */
