.home {
    width: 100%;
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.medicamentos {
    top: 0%;
    width: 100%;
    height: auto;
}

/* Media Queries para hacer el diseño responsivo */
